@model List<AlbumDto>

@if (Model != null && Model.Any())
{
    @foreach (var item in Model)
    {
    <div class="box">
        <h3 class="title">@item.Name</h3>
        <h4 class="subtitle">Lanzado el @item.ReleaseDate</h4>
        <hr />

        @if (item.Songs != null && item.Songs.Any())
        {
            <table class="table is-bordered">
                <tbody>
                    @foreach (var song in item.Songs)
                    {
                        <tr>
                            <td>@song.Name</td>
                            <td style="width:100px">@song.DurationTime</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <form asp-controller="Artist" asp-action="AddSong" method="post">
            <input type="hidden" name="artistId" value="@item.ArtistId" />
            <partial name="Album/_AddSong" model="new SongCreateDto { AlbumId = item.AlbumId }" />
        </form>
    </div>
    }
}
else
{
    <p>No se han registrado álbumes</p>
}
